$white: rgb(255, 255, 255);
$black: #0B1229;
$black-lighter: #2E303D;


$grey: #B4B4B4;
$grey-mid: #666666;
$grey-dark: #8D8B8E;
$grey-light: #C5CDD5;
$grey-lighter: #f8f8f9;

$blue-dark: #20306D;
$blue-darker: #2E303D;

$text-primary: #8088F0;
$text-secondary: #CFA9B0;


$menu-bg: rgba(11, 18, 41, 0.5);

$red: red;
$placeholder-color: #919EAB;