$gradient-announcement-bar: linear-gradient(179.99deg, #F1CA98 0.87%, #E9C2AC 5.07%, #E7BDCB 21.39%, #C0A1D1 52.79%, #857CC8 70.76%, #434FA1 83.61%, #2B397D 96.7%);
$gradient-announcement-bar-mobile: linear-gradient(179.99deg, #E9C2AE 0.52%, #E7BEC8 21.39%, #D4AFCE 46.71%, #B59ACF 74.21%, #7A75C2 99.08%);

$gradient-display-pink: linear-gradient(180deg, #FCF8FB 0%, #FAF3F8 100%);
$gradient-display-purple: linear-gradient(358.16deg, rgba(246, 239, 255, 0.6) 16.17%, rgba(251, 249, 255, 0.6) 94.28%);

$gradient-button: linear-gradient(317.45deg, #B08CE5 10.94%, #6D86F4 129.96%);

$gradient-text: linear-gradient(135deg, rgba(251,194,233,1) 0%, rgba(255,175,62,1) 64%, rgba(255,150,68,1) 83%, rgba(233,116,107,1) 100%), linear-gradient(164deg, rgba(217,152,218,1) 0%, rgba(223,147,195,0) 33%);

$gradient-hero: linear-gradient(90.84deg, rgba(49, 51, 65, 0.6) 0.56%, rgba(49, 51, 65, 0) 99.81%);
$gradient-process: linear-gradient(180.61deg, #20306D 19.47%, #24244F 96.24%);
$gradient-process-bar: linear-gradient(-12deg, #F1CA98 -38.35%, #E9C2AC -32.12%, #E7BDCB -7.88%, #C0A1D1 38.75%, #857CC8 65.44%, #434FA1 84.54%, #2B397D 103.97%);

$gradient-toast: linear-gradient(119.19deg, #F1CA98 0.36%, #E9C2AC 4.61%, #E7BDCB 21.17%, #C0A1D1 53.03%, #857CC8 71.26%, #434FA1 84.31%, #2B397D 97.58%);