$white: rgb(255, 255, 255);
$black: #0B1229;

$input-border-color: #C5CDD5;
$label-color: #20306D;

$alert: #fe4b4b;
$success: #56ff56;

$grey-light: #C5CDD5;
$blue-dark: #20306D;

$placeholder-color: #919EAB;