
@function fixed($number) {
  @return ceil($number * 100) / 100
}

@function grid-el-mob($cols, $mod: false) {
  @if $mod {
    @return calc((100% / #{$grid-columns / $cols}) - #{fixed(($grid-i-gutter--mob * ($grid-columns - 1)) / ($grid-columns / $cols)) - ($grid-i-gutter--mob * ($cols - 1))} + #{$mod});
  } @else {
    @return calc((100% / #{$grid-columns / $cols}) - #{fixed(($grid-i-gutter--mob * ($grid-columns - 1)) / ($grid-columns / $cols)) - ($grid-i-gutter--mob * ($cols - 1))});
  }
}

@function grid-el-tab($cols, $mod: false) {
  @if $mod {
    @return calc((100% / #{$grid-columns / $cols}) - #{fixed(($grid-i-gutter--tab * ($grid-columns - 1)) / ($grid-columns / $cols)) - ($grid-i-gutter--tab * ($cols - 1))} + #{$mod});
  } @else {
    @return calc((100% / #{$grid-columns / $cols}) - #{fixed(($grid-i-gutter--tab * ($grid-columns - 1)) / ($grid-columns / $cols)) - ($grid-i-gutter--tab * ($cols - 1))});
  }
}

@function grid-el-dtp($cols, $mod: false) {
  @if $mod {
    @return calc((100% / #{$grid-columns / $cols}) - #{fixed(($grid-i-gutter--dtp * ($grid-columns - 1)) / ($grid-columns / $cols)) - ($grid-i-gutter--dtp * ($cols - 1))} + #{$mod});
  } @else {
    @return calc((100% / #{$grid-columns / $cols}) - #{fixed(($grid-i-gutter--dtp * ($grid-columns - 1)) / ($grid-columns / $cols)) - ($grid-i-gutter--dtp * ($cols - 1))});
  }
}


// only use if the element is nested within another
@function grid-el-mob-child($cols, $parent-cols, $mod: false) {
  $colsAdjusted: $cols * $grid-columns / $parent-cols;

  @if $mod {
    @return calc((100% / #{$grid-columns / $colsAdjusted}) - #{fixed(($grid-i-gutter--mob * ($grid-columns - 1)) / ($grid-columns / $colsAdjusted)) - ($grid-i-gutter--mob * ($colsAdjusted - 1))} + #{$mod});
  } @else {
    @return calc((100% / #{$grid-columns / $colsAdjusted}) - #{(($grid-i-gutter--mob * ($grid-columns - 1)) / ($grid-columns / $colsAdjusted)) - ($grid-i-gutter--mob * ($colsAdjusted - 1))});
  }
}

@function grid-el-tab-child($cols, $parent-cols, $mod: false) {
  $colsAdjusted: $cols * $grid-columns / $parent-cols;
  @if $mod {
    @return calc((100% / #{$grid-columns / $colsAdjusted}) - #{fixed(($grid-i-gutter--tab * ($grid-columns - 1)) / ($grid-columns / $colsAdjusted)) - ($grid-i-gutter--tab * ($colsAdjusted - 1))} + #{$mod});
  } @else {
    @return calc((100% / #{$grid-columns / $colsAdjusted}) - #{fixed(($grid-i-gutter--tab * ($grid-columns - 1)) / ($grid-columns / $colsAdjusted)) - ($grid-i-gutter--tab * ($colsAdjusted - 1))});
  }
}

@function grid-el-dtp-child($cols, $parent-cols, $mod: false) {
  $colsAdjusted: $cols * $grid-columns / $parent-cols;

  @if $mod {
    @return calc((100% / #{$grid-columns / $colsAdjusted}) - #{fixed(($grid-i-gutter--dtp * ($grid-columns - 1)) / ($grid-columns / $colsAdjusted)) - ($grid-i-gutter--dtp * ($colsAdjusted - 1))} + #{$mod});
  } @else {
    @return calc((100% / #{$grid-columns / $colsAdjusted}) - #{fixed(($grid-i-gutter--dtp * ($grid-columns - 1)) / ($grid-columns / $colsAdjusted)) - ($grid-i-gutter--dtp * ($colsAdjusted - 1))});
  }
}
