.info-card {
  width: 100%;
  margin-bottom: $size-xxl;

  @include mq('tablet') {
    width: grid-el-tab(4);
  margin-bottom: $size-l;
  }

  @include mq('desktop') {
    width: grid-el-dtp(4);
  }

  &__image {
    margin-bottom: $size-l;
  }

  &__header {
      text-align: center;
      margin-bottom: $size-xs;
  }

  &__text {
    text-align: center;
  }
}