@mixin card {
  position: relative;
  overflow: hidden;
  margin-bottom: $size-s;
  border-radius: $border-radius;
  background: $white;
  box-shadow: $shadow-card;
}

@mixin card-hover {
  transition: box-shadow .16s linear, transform .5s cubic-bezier(.19, 1, .22, 1);
  will-change: transform;

  &:hover {
    transform: scale(1.02);
    box-shadow: $shadow-card-hover;
    transition: box-shadow .16s linear, transform .5s cubic-bezier(.19, 1, .22, 1);
  }
}