.input__container {
  position: relative;
  display: flex;
  flex-direction: column;

  &--fw {
    width: 100%;
  }
}

.input__label {
  color: $blue-dark;
  opacity: 0.7;
  margin-bottom: 5px;
  white-space: nowrap;
  font-family: 'Suisse Intl Medium', sans-serif;
}

.input,
.textarea {
  box-sizing: border-box;
  padding: 10px 12px;
  outline: none;
  border: 1px solid $grey-light;
  border-radius: $border-radius;
  background-color: $white;
  color: $black;

  &:focus {
    border: 1px solid $grey-light;
    outline: none;
  }

  &--error {
    border: 1px solid $red;
  }
}

.input-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
